/*GLASS LOGO SVG shadow effect*/
#header-wrapper, .searchbox {
	background: #322A38 ;
	border-bottom: 4px solid #fff ;
}

.searchbox {
	border: 1px solid #fff ;
}

#glogosq { transition: .5s; }

.svgfill {
	-webkit-filter: drop-shadow( 0px 0px 1px #fff ); 
    		filter: drop-shadow( 0px 0px 1px #fff ); }

.svgfill:hover {
	-webkit-filter: drop-shadow( 5px 5px 25px #fff ); 
    		filter: drop-shadow( 5px 5px 25px #fff ); }

.aln-bottom {
	vertical-align: bottom;
}

.aln-middle {
	vertical-align: middle;
}

/*custom notice banners*/

div.notices.spoiler p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.spoiler p:first-child:after {
    content: 'Spoiler Alert!';
}

/*############################################################*/
/*cleanup print format*/
@media print {
    html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid !important;
        page-break-before: avoid !important;
        margin: 0px !important;
    }
	.printwide { 
		width: 100% !important; 
		margin: auto !important;
		float: none !important;
		background: transparent; 
	}
	div#top-bar {
		display: none !important;
	}
	.no-print, .no-print * {
		display: none !important;
	}
	div#sticky-parent {
		display: none !important;
	}
	div#sticky-spacer {
		display: none !important; 
	}
	nav#sidebar {
		display: none !important;
	}
 	div#header-wrapper {
 		display: none !important;
 	}
	.footer {
		display: none !important;
	} 
 	.page-break { 
	display: none; 
	}
}
