#glogosq { transition: .5s; }

.svgfill {
	-webkit-filter: drop-shadow( 2px 2px 2px #fff ); 
    		filter: drop-shadow( 2px 2px 2px #fff ); }

.svgfill:hover {
	-webkit-filter: drop-shadow( 5px 5px 25px #ffff00 ); 
    		filter: drop-shadow( 5px 5px 25px #ffff00 ); }
